{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <form action="" method="POST" enctype="multipart/form-data" >{% csrf_token %}
        <div class="jumbotron jumbotron-fluid" style="width: 60%; margin: 0 auto; padding-bottom: 15pippx">
            <div style="width: 90%; margin: 0 auto">
                {% crispy form form.helper %}
                <button type="submit" class="btn btn-primary">Verify and Submit</button> <br>
                <p class="text-center">
                <small><span title="admin@mail.com">Contact admin </span>for further queries</small>
                </p>
            </div>
        </div>
    </form>
    <br>
    {% if success_msg %}
        <div class="alert alert-primary" role="alert" style="width: 60%; margin: 0 auto"> <p>
            {{ success_msg }}. 
            '{{ contact.student_mail }}' is your registered Email-ID
        </p>
        </div>
    {% endif %}
    {% if error_msg %}
        <div class="alert alert-danger" role="alert" style="width: 60%; margin: 0 auto"> <p>
            {{ error_msg }}</p>
        </div>
    {% endif %}
{% endblock content %}

