{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style="width: 60%; margin: 0 auto">
    <ul>
        <li>Get the mark sheet to verify as an image.</li>
        <li>Upload your marksheet in the <a href="{% url 'home' %}">homepage</a> with its corresponding semester.</li>
        <li>Enter your register number and click submit.</li>
    </ul>
    <h2>Behind the scenes:</h2>
    <ul>
        <li>Your marksheet will be added into the database with your details from your register number.</li>
        <li>The certificate will be compared with serial number of marksheet present in the database of your semester.</li>
        <li>If it matches, the certificate will be passed to The HOD of your department.</li>
        <li>After the verification of officials, the result will be sent back to your e-mail.</li>
        <li>If you don't receive the mail after 3 days, you can <span title="admin@certificate.com">contact the admin</span>.</li>
</ul>
</div>
{% endblock content %}